.popup_layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    > div {
        overflow: auto;
        width: 100%;
        height: 100%;
        padding: 10%;
        text-align: center;
        img {
            max-width: 80%;
        }
    }
    .popup_btn {
        display: block;
        z-index: 2;
        position: absolute;
        right: 10%;
        top: 5%;
        text-decoration: none;
        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0x;
            right: 0;
            width: 1px;
            height: 30px;
            background: #fff;
        }
        &::before {
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &::after {
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
.popup_overlay {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
}
