// 헤더
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    padding: 30px 0;
    background: #000;
    .inner {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .gnb {
            width: 100%;
            display: flex;
            align-items: center;
            li {
                width: 100%;
                transform: translateX(0);
                transition: all 0.3s;
                font-weight: 500;
                text-align: right;
                a {
                    display: inline-block;
                    position: relative;
                    color: #fff;
                    .roundball {
                        transition: all 0.3s;
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        border-radius: 100%;
                        pointer-events: none;
                        background: $point;
                        left: 30%;
                        transform: translateX(-50%);
                        bottom: -20%;
                        opacity: 0;
                    }
                }
                &.active {
                    transform: translateX(2%);
                    a {
                        .roundball {
                            opacity: 1;
                            left: 50%;
                        }
                    }
                }
            }
        }
    }
}
.logo {
    position: fixed;
    left: 0;
    z-index: 9;
    bottom: 10%;
    color: $point;
    transform: rotate(90deg);
    p {
        letter-spacing: 0.1em;
        font-weight: bold;
        padding: 0 5px;
    }
}
//pc hover
@media screen and (min-width: 1480px) {
    //헤더
    .header {
        .inner {
            .gnb {
                li {
                    &:hover {
                        transform: translateX(2%);
                        a {
                            .roundball {
                                opacity: 1;
                                left: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

//테블릿 ~ 해상도 1480px ~
@media screen and (max-width: 1480px) {
    .header {
        .inner {
            .gnb {
                li {
                    text-align: center;
                }
            }
        }
    }
    .logo {
        left: -55px;
    }
}
//테블릿 ~ 해상도 1080px ~
@media screen and (max-width: 1080px) {
    // 헤더
    .header {
        padding: rem(60px) 0;
        .inner {
            .gnb {
                li {
                    a {
                        .roundball {
                            width: rem(12px);
                            height: rem(12px);
                        }
                    }
                }
            }
        }
    }
    .logo {
        left: rem(-190px);
        p {
            padding: 0 rem(40px);
        }
    }
}
